<!-- nav -->
<nav>
  <div class="site-title">
    <a href="/">
      <h1>Blog</h1>
    </a>
    <p>tutorial</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/aboutauthor">About</a></li>
    <li><a href="/create">new blog</a></li>
  </ul>
</nav>
<!-- end of nav -->
