<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/headforcreateform.ejs', {title: 'Create Author'}) %>
  <body>
        <%- include("./partials/nav.ejs") %>
    <div class="icon-container">
    <div>
      <img id="top-left" src="./assets/top-left_piggyvest-icon.png">
    </div>
    <div>
      <img id="top-right" src="./assets/top-right_piggyvest-icon.png">
    </div>
    </div>
  <div class="main-container">
    <div class="image-container">
      <a href="https://www.piggyvest.com">
        <!-- <img src="./assets/piggyvest-logo.0b78a8fa.svg" alt="piggyvest logo"> -->
      </a>
    </div>
    <div class="form-container">
      <form action="/api/v1/authors" method="POST" data-netlify="true"  name="post-new-product" id="form">
        <header>
          <h1>Add Author</h1>
          <p>Details of the author you want to add</p>
        </header>
        <div class="field-container" >
          <div>
            <label for="author">full name </label>
          </div>
          <input class="field" type="text" placeholder="author name" name="author">
        </div>
        <div class="field-container" >
          <div>
            <label for="age">age</label>
          </div>
          <input class="field" type="text" placeholder="age" name="age">
        </div>
        <div class="field-container" >
          <div>
            <label for="dateRegistered">Date registered</label>
          </div>
          <input class="field" type="date" placeholder="date registered" name="dateRegistered">
        </div>

        <div class="field-container" >
          <div>
            <label for="address">address</label>
          </div>
          <input class="field" type="text" placeholder="address" name="address">
        </div>
        <div class="field-container">
          <div>
            <label for="image">Image</label>
          </div>
          <input class="field"  type="url" placeholder="Author image" name="image">
        </div>
        <div>
          <button class="register-btn value="Post">Post item</button>
        </div>
      </form>

    </div>
    <a class="login-link" href="">Already have an account? Log In</a>
  </div>
      <!-- footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- end of footer -->
  </body>
</html>