<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <!-- display blogs -->
    <div class="author-card-container">
      <% authors.forEach(author => { %>
      <p><%= author.author %></p>
      <% }) %>
    </div>

    <!-- footer -->
    <%- include("./partials/footer.ejs") %>
    <!-- end of footer -->
  </body>
</html>
